@charset "UTF-8";
/* Reset */
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, nav, section, article, header, footer, main, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, input, select, textarea, button, img, fieldset {
  border: none;
  -webkit-font-smoothing: antialiased; /* 폰트 안티앨리어싱 해결 */
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

address, cite, code, em, i {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button, a {
  vertical-align: middle;
}

u, ins, a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Normalize */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
input[type=datetime-local],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
}

/* Common Style */
html {
  font-size: 10px;
}

body {
  font-size: 1rem;
}

.clear {
  clear: both;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.page a {
  font-size: 3rem;
  color: black;
  text-decoration: underline;
}
.page a ~ a {
  margin-left: 2rem;
}

.whole_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10rem 0;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3rem;
  width: 128rem;
}
.shop > section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.shop > section > header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.shop > section > header > h2 {
  font-size: 2.4rem;
}
.shop > section > header .shortcut_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.shop > section > header .shortcut_box a {
  padding-right: 3rem;
  background: url("../img/ico_shortcut.png") no-repeat right center/2.4rem;
}
.shop > section > header .shortcut_box a span {
  font-size: 1.6rem;
  font-weight: 500;
  color: gray;
}
.shop > section > .categorys {
  margin-top: 2rem;
}
.shop > section > .categorys > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.shop > section > .categorys > ul > li {
  position: relative;
  padding: 0 5rem;
}
.shop > section > .categorys > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0.1rem;
  height: 50%;
  background-color: lightgray;
}
.shop > section > .categorys > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 4rem;
  padding: 0 3rem;
  border-radius: 10rem;
}
.shop > section > .categorys > ul > li > a.active {
  background-color: mediumseagreen;
}
.shop > section > .categorys > ul > li > a.active > span {
  color: white;
}
.shop > section > .categorys > ul > li > a > span {
  font-size: 1.4rem;
  font-weight: 700;
  color: gray;
}
.shop > section > .swiper {
  width: 62.5rem;
  height: 25rem;
  margin-top: 2rem;
}
.shop > section > .swiper > .banner img {
  -o-object-fit: contain;
  object-fit: contain;
}
.shop > section > .swiper > .btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/ico_arrow_left.png") no-repeat center/60% white;
  margin-top: 0;
  border-radius: 100%;
}
.shop > section > .swiper > .btn.swiper-button-next {
  left: initial;
  right: 2rem;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.shop > section > .swiper > .btn::after {
  display: none;
}
.shop > section > .products {
  margin-top: 2rem;
}
.shop > section > .products > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.shop > section > .products > ul li {
  position: relative;
}
.shop > section > .products > ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.shop > section > .products > ul li > a .img_box {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 12rem;
  height: 12rem;
  padding: 0.3rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
}
.shop > section > .products > ul li > a .img_box img {
  width: 100%;
  height: 100%;
}
.shop > section > .products > ul li > a .description_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.shop > section > .products > ul li > a .description_box > strong {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.2rem;
  background-color: forestgreen;
  font-size: 1.4rem;
  color: white;
}
.shop > section > .products > ul li > a .description_box > b {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.4rem;
  font-size: 1.3rem;
  color: black;
  margin: 0.3rem 0;
}
.shop > section > .products > ul li > a .description_box > b .brand_name {
  display: inline-block;
  margin-right: 0.2rem;
  color: cornflowerblue;
}
.shop > section > .products > ul li > a .description_box .price_coupon {
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: orangered;
}
.shop > section > .products > ul li > a .description_box .price_coupon > del {
  color: darkgray;
}
.shop > section > .products > ul li > a .description_box .price_discount_percent {
  display: none;
  font-size: 2.4rem;
  font-weight: 600;
  color: orangered;
}
.shop > section > .products > ul li > a .description_box .price_result {
  font-size: 2.6rem;
  font-weight: 800;
  color: black;
}
.shop > section > .products > ul li > a .description_box .price_result_unit {
  font-size: 1.6rem;
  color: darkgray;
}
.shop > section > .products > ul li > a .description_box .price.discounted .price_coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop > section > .products > ul li > a .description_box .price.discounted .price_discount_percent {
  display: initial;
}
.shop > section > .products > ul li > a .description_box .price.discounted .price_result {
  color: orangered;
}
.shop > section > .products > ul li > a .description_box .price.discounted .price_result_unit {
  font-size: 2.4rem;
  color: orangered;
}
.shop > section > .products > ul li > .shopping_cart {
  position: absolute;
  left: 7.5rem;
  bottom: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.3rem;
  background: url("../img/ico_shopping_cart.png") no-repeat center/2rem white;
  border-radius: 100%;
}
.shop > section > .more {
  margin-top: 2rem;
}
.shop > section > .more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  border: 0.1rem solid gray;
  border-radius: 10rem;
  background-color: #efeeee;
}
.shop > section > .more a > span {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
}
.shop > section > .more a > span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -3rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: url("../img/ico_shortcut.png") center/100% no-repeat;
}
.shop > section.smile_delivery > .categorys > ul > li > a.active {
  background-color: blue;
}
.shop > section.smile_delivery > .products ul li a .description_box > strong {
  background-color: blue;
  padding: 0.2rem 0.5rem;
}

.delivery_info .start_date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: gray;
  background: url("../img/ico_delivery.png") left 0.2rem center/2rem 2.5rem no-repeat;
}
.delivery_info .start_date .btn_tooltip {
  width: 1.6rem;
  height: 1.6rem;
  background: url("../img/ico_tooltip.png") center/100% no-repeat;
  margin-left: 0.2rem;
}
.delivery_info .start_date .btn_tooltip.active > article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.delivery_info .start_date .btn_tooltip > article {
  display: none;
  position: absolute;
  top: 2rem;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 2rem 1.5rem;
  background-color: white;
  border: 0.1rem solid gray;
  font-size: 1.2rem;
  z-index: 100;
  cursor: default;
}
.delivery_info .start_date .btn_tooltip > article > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.delivery_info .start_date .btn_tooltip > article > header > strong {
  color: black;
  font-weight: 900;
}
.delivery_info .start_date .btn_tooltip > article > header .btn_close {
  width: 1.6rem;
  height: 1.6rem;
  background: url("../img/ico_close.png") center/100% no-repeat;
  cursor: pointer;
}
.delivery_info .start_date .btn_tooltip > article .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}
.delivery_info .start_date .btn_tooltip > article .desc > p {
  position: relative;
  padding: 0 6rem 0 1rem;
  text-align: left;
}
.delivery_info .start_date .btn_tooltip > article .desc > p::after {
  content: "·";
  position: absolute;
  top: 0;
  left: 0.3rem;
}
.delivery_info .arrival_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40rem;
  border: 0.1rem solid lightgray;
  margin-top: 1rem;
}
.delivery_info .arrival_info_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid lightgray;
  background-color: #efeeee;
}
.delivery_info .arrival_info_main.active .btn_control::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.delivery_info .arrival_info_main > strong {
  font-size: 1.6rem;
  font-weight: 800;
}
.delivery_info .arrival_info_main .btn_control {
  position: relative;
  padding-right: 1.2rem;
  font-size: 1rem;
}
.delivery_info .arrival_info_main .btn_control::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: url("../img/ico_arrow_top.png") center right/100% no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.delivery_info .arrival_info_list {
  padding: 1rem 2rem;
}
.delivery_info .arrival_info_list > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
}
.delivery_info .arrival_info_list > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
  font-size: 1.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.delivery_info .arrival_info_list > ul li:nth-of-type(2) .progress .percent {
  width: 86%;
}
.delivery_info .arrival_info_list > ul li:nth-of-type(3) .progress .percent {
  width: 26%;
}
.delivery_info .arrival_info_list > ul li .progress {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 0.6rem;
  background-color: #efeeee;
  border-radius: 10rem;
}
.delivery_info .arrival_info_list > ul li .progress .percent {
  position: absolute;
  width: 76%;
  height: 100%;
  background-color: darkgray;
  border-radius: 10rem;
}
.delivery_info .arrival_info_list > ul li.active b {
  color: blue;
}
.delivery_info .arrival_info_list > ul li.active .progress .percent {
  background-color: blue;
}
.delivery_info .arrival_info_list > ul li.active span {
  color: blue;
}
.delivery_info .arrival_info_list .division_line {
  width: 100%;
  height: 0.2rem;
  background-color: #efeeee;
  margin: 1rem 0;
}